<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Captured Field List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/template/css/style.css}"/>
</head>
<body>

<div>
    <table border="1">
        <tr>
            <th>Key</th>
            <th>MinX</th>
            <th>MinY</th>
            <th>MaxX</th>
            <th>MaxY</th>
            <th>Width</th>
            <th>Height</th>
            <th>fileName</th>
        </tr>
        <tr th:each ="selectionList : ${selectionList}">
            <td th:utext="${selectionList.key}">...</td>
            <td th:utext="${selectionList.fieldZoneMinX}">...</td>
            <td th:utext="${selectionList.fieldZoneMinY}">...</td>
            <td th:utext="${selectionList.fieldZoneMaxX}">...</td>
            <td th:utext="${selectionList.fieldZoneMaxY}">...</td>
            <td th:utext="${selectionList.width}">...</td>
            <td th:utext="${selectionList.height}">...</td>
            <td th:utext="${selectionList.fileName}">...</td>

        </tr>
    </table>
    <h1>Selectd List</h1>
    <!--<a href="addTemplate">Add Template</a>-->


    <div>
        <table border="1">

            <tr> <a th:href="@{addTemplate(fileName=${selectionList.get(0).fileName},doOCR='No')}" th:text="${selectionList.get(0).fileName}">Order ID</a>
                <br/><br/>
            </tr>
            <tr> <a th:href="@{addTemplate(fileName=${selectionList.get(0).fileName},doOCR='Yes')}" th:text="DoOCR">Do OCR</a>
                <br/><br/>
            </tr>
            <tr><br/><br/>
                <a th:href="@{destroy}" text="Destroy Current Sessions">Destroy All Files and Current Sessions</a>
            </tr>
        </table>
    </div>
    <br/><br/>
</div>
</body>
</html>