<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<img th:src="@{/template/images/logo.png}" width="212" height="47" alt="eDATABLOCK">
	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<form th:action="@{/addTemplate}"
					   method="get">
					<input type="hidden" name="fileName" th:value="${file}"/>
					<input type="hidden" name="doOCR" th:value="No"/>
					<a th:href="${file}" th:text="${file}" />

					<input type="submit" value="choose File" />

				</form>

			</li>
		</ul>
	</div>

</body>
</html>
